xsd/CreditCardValidationXsd.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="list">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="beans.CreditCard">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="creditbalance" type="xs:unsignedByte" />
                            <xs:element name="cardnumber" type="xs:unsignedShort" />
                            <xs:element name="validthrue" type="xs:date" />
                            <xs:element name="balance" type="xs:unsignedByte" />
                            <xs:element name="cardholderName" type="xs:string" />
                            <xs:element name="cardholderSurname" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>